<h1>Welcome to Clackamas Mall </h1>
<h2> This is a directory of our Departments!</h2>
<br />
<%@departments.each do |department|%>
  <h2> <%= "#{department.name} Department" %> </h2>
  <h3> <%= "Category: #{department.category}"%> </h3>
  <h3> <%= "Location: #{department.floor}"%> </h3>
  <br />
  <%end%>